<div class="card">
    <div class="card-body">
        <h4 class="card-title" routerLink="" routerLinkActive="active">Menu</h4>
    </div>
    <ul class="list-group list-group-flush" id="menu">
        <li class="list-group-item" routerLink="clientes" routerLinkActive="active" >Clientes</li>
        <li class="list-group-item" routerLink="aseguradoras" routerLinkActive="active">Aseguradoras</li>
        <li class="list-group-item" routerLink="contratos" routerLinkActive="active">Contratos</li>
    </ul>
</div>