<br>
<br>
<br>
<br>
<div class="row justify-content-center align-items-center g-2">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="" class="form-label">CONSULTAR SEGUROS CONTRATADOS</label>
                    <input type="text" [(ngModel)]="cedula" class="form-control" placeholder="Cedula del cliente"
                        aria-describedby="helpId" [disabled]="buttonDisable"/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" (click)="getContract()">
                    Buscar
                </button>
            </div>
        </div>
        <ul class="list-group list-group-item" *ngFor="let item of contrato">
            <li class="list-group-item">{{item.nombre}}</li>
        </ul>

    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="" class="form-label">CONSULTAR CLIENTES AFILIADOS</label>
                    <input type="text" [(ngModel)]="codigo" class="form-control" placeholder="Codigo de la Aseguradora"
                        aria-describedby="helpId" />
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" (click)="getClients()">
                    Buscar
                </button>
            </div>
        </div>
        
        <ul class="list-group list-group-item" *ngFor="let item of asegurados">
            <li class="list-group-item">{{item.nombre}}</li>
        </ul>
    </div>
</div>